[Desktop Entry]
Version=1.0
Type=Application
Name=Toggle VPN
Comment=Toggle ServiceTrade VPN
Exec=sh -c "$HOME/.local/bin/toggle-openvpn.py"
Icon=openvpn
Terminal=false

